.cssload-container *, .cssload-container *:before, .cssload-container *:after{
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container {
	margin: auto;
	width: 193px;
	height: 83px;
}
.cssload-container > div {
	float: left;
	background: rgba(94,94,94,0.64);
	height: 100%;
	width: 14px;
	margin-right: 3px;
	display: inline-block;
}

.cssload-container .cssload-shaft1 {
	animation-delay: 0.07s;
		-o-animation-delay: 0.07s;
		-ms-animation-delay: 0.07s;
		-webkit-animation-delay: 0.07s;
		-moz-animation-delay: 0.07s;
}
.cssload-container .cssload-shaft2 {
	animation-delay: 0.15s;
		-o-animation-delay: 0.15s;
		-ms-animation-delay: 0.15s;
		-webkit-animation-delay: 0.15s;
		-moz-animation-delay: 0.15s;
}
.cssload-container .cssload-shaft3 {
	animation-delay: 0.22s;
		-o-animation-delay: 0.22s;
		-ms-animation-delay: 0.22s;
		-webkit-animation-delay: 0.22s;
		-moz-animation-delay: 0.22s;
}
.cssload-container .cssload-shaft4 {
	animation-delay: 0.29s;
		-o-animation-delay: 0.29s;
		-ms-animation-delay: 0.29s;
		-webkit-animation-delay: 0.29s;
		-moz-animation-delay: 0.29s;
}
.cssload-container .cssload-shaft5 {
	animation-delay: 0.36s;
		-o-animation-delay: 0.36s;
		-ms-animation-delay: 0.36s;
		-webkit-animation-delay: 0.36s;
		-moz-animation-delay: 0.36s;
}
.cssload-container .cssload-shaft6 {
	animation-delay: 0.44s;
		-o-animation-delay: 0.44s;
		-ms-animation-delay: 0.44s;
		-webkit-animation-delay: 0.44s;
		-moz-animation-delay: 0.44s;
}
.cssload-container .cssload-shaft7 {
	animation-delay: 0.51s;
		-o-animation-delay: 0.51s;
		-ms-animation-delay: 0.51s;
		-webkit-animation-delay: 0.51s;
		-moz-animation-delay: 0.51s;
}
.cssload-container .cssload-shaft8 {
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
}
.cssload-container .cssload-shaft9 {
	animation-delay: 0.65s;
		-o-animation-delay: 0.65s;
		-ms-animation-delay: 0.65s;
		-webkit-animation-delay: 0.65s;
		-moz-animation-delay: 0.65s;
}
.cssload-container .cssload-shaft10 {
	animation-delay: 0.73s;
		-o-animation-delay: 0.73s;
		-ms-animation-delay: 0.73s;
		-webkit-animation-delay: 0.73s;
		-moz-animation-delay: 0.73s;
}

.cssload-container {
	height: 110px;
}
.cssload-container > div {
	position: relative;
	bottom: 0;
	margin-top: 96px;
	height: 14px;
	animation: cssload-wave 2.18s infinite ease-in-out;
		-o-animation: cssload-wave 2.18s infinite ease-in-out;
		-ms-animation: cssload-wave 2.18s infinite ease-in-out;
		-webkit-animation: cssload-wave 2.18s infinite ease-in-out;
		-moz-animation: cssload-wave 2.18s infinite ease-in-out;
}
.cssload-container .shaft1 {
	animation-delay: -2.18s;
		-o-animation-delay: -2.18s;
		-ms-animation-delay: -2.18s;
		-webkit-animation-delay: -2.18s;
		-moz-animation-delay: -2.18s;
}
.cssload-container .shaft2 {
	animation-delay: -2.03s;
		-o-animation-delay: -2.03s;
		-ms-animation-delay: -2.03s;
		-webkit-animation-delay: -2.03s;
		-moz-animation-delay: -2.03s;
}
.cssload-container .shaft3 {
	animation-delay: -1.89s;
		-o-animation-delay: -1.89s;
		-ms-animation-delay: -1.89s;
		-webkit-animation-delay: -1.89s;
		-moz-animation-delay: -1.89s;
}
.cssload-container .shaft4 {
	animation-delay: -1.74s;
		-o-animation-delay: -1.74s;
		-ms-animation-delay: -1.74s;
		-webkit-animation-delay: -1.74s;
		-moz-animation-delay: -1.74s;
}
.cssload-container .shaft5 {
	animation-delay: -1.6s;
		-o-animation-delay: -1.6s;
		-ms-animation-delay: -1.6s;
		-webkit-animation-delay: -1.6s;
		-moz-animation-delay: -1.6s;
}
.cssload-container .shaft6 {
	animation-delay: -1.45s;
		-o-animation-delay: -1.45s;
		-ms-animation-delay: -1.45s;
		-webkit-animation-delay: -1.45s;
		-moz-animation-delay: -1.45s;
}
.cssload-container .shaft7 {
	animation-delay: -1.31s;
		-o-animation-delay: -1.31s;
		-ms-animation-delay: -1.31s;
		-webkit-animation-delay: -1.31s;
		-moz-animation-delay: -1.31s;
}
.cssload-container .shaft8 {
	animation-delay: -1.16s;
		-o-animation-delay: -1.16s;
		-ms-animation-delay: -1.16s;
		-webkit-animation-delay: -1.16s;
		-moz-animation-delay: -1.16s;
}
.cssload-container .shaft9 {
	animation-delay: -1.02s;
		-o-animation-delay: -1.02s;
		-ms-animation-delay: -1.02s;
		-webkit-animation-delay: -1.02s;
		-moz-animation-delay: -1.02s;
}
.cssload-container .shaft10 {
	animation-delay: -0.87s;
		-o-animation-delay: -0.87s;
		-ms-animation-delay: -0.87s;
		-webkit-animation-delay: -0.87s;
		-moz-animation-delay: -0.87s;
}
.cssload-container .shaft11 {
	animation-delay: -0.73s;
		-o-animation-delay: -0.73s;
		-ms-animation-delay: -0.73s;
		-webkit-animation-delay: -0.73s;
		-moz-animation-delay: -0.73s;
}



@keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgba(199,199,199,0.84);
	}
}

@-o-keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgba(199,199,199,0.84);
	}
}

@-ms-keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgba(199,199,199,0.84);
	}
}

@-webkit-keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgba(199,199,199,0.84);
	}
}

@-moz-keyframes cssload-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: rgba(199,199,199,0.84);
	}
}