.cssload-container {
	height: 85px;
	width: 190px;
	position: absolute;
	left: 50%;
	margin-left: -89px;
	margin-top: -43px;
}

.cssload-teardrop {
		border: 19px solid rgba(0,0,0,0.28);
		border-radius: 50% 50% 0;
		float: left;
		height: 47px;
		width: 47px;
		box-shadow: 0 0 14px 0px rgba(214,214,214,0.8), 0px 0px 14px rgba(0,0,0,0.16) inset;
}

.cssload-tearLeft {
		margin-right: 9px;
		transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
}

.cssload-tearRight{
		transform: rotate(135deg);
		-o-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		-moz-transform: rotate(135deg);
}

#cssload-ball-holder1 {
		min-width: 85px;
		min-height: 85px;
		max-width: 85px;
		max-height: 85px;
		display: block;
		float: left;
		position: relative;
		top: -85px;
		left: 0px;
		animation: ballPath1 2.6s linear infinite;
		-o-animation: ballPath1 2.6s linear infinite;
		-ms-animation: ballPath1 2.6s linear infinite;
		-webkit-animation: ballPath1 2.6s linear infinite;
		-moz-animation: ballPath1 2.6s linear infinite;
}

#cssload-ball-holder2 {
		min-width: 85px;
		min-height: 85px;
		max-width: 85px;
		max-height: 85px;
		display: block;
		float: left;
		position: relative;
		top: -85px;
		left: -1px;
		animation: ballPath3 2.6s linear infinite;
		-o-animation: ballPath3 2.6s linear infinite;
		-ms-animation: ballPath3 2.6s linear infinite;
		-webkit-animation: ballPath3 2.6s linear infinite;
		-moz-animation: ballPath3 2.6s linear infinite;
}

.cssload-ballSettings{
		height: 9px;
		width: 9px;
		background-color: rgb(255,255,255);
		border-radius: 100%;
		position: relative;
}

.cssload-ball1 {
		top: 38px;
		left: 5px;
		animation: cssload-ball1 2.6s linear infinite;
		-o-animation: cssload-ball1 2.6s linear infinite;
		-ms-animation: cssload-ball1 2.6s linear infinite;
		-webkit-animation: cssload-ball1 2.6s linear infinite;
		-moz-animation: cssload-ball1 2.6s linear infinite;
}

#cssload-contain1{
	width: 85px;
	height: 85px;
		animation: ballPath2 2.6s linear infinite;
		-o-animation: ballPath2 2.6s linear infinite;
		-ms-animation: ballPath2 2.6s linear infinite;
		-webkit-animation: ballPath2 2.6s linear infinite;
		-moz-animation: ballPath2 2.6s linear infinite;
}

.cssload-ball2 {
		top: 38px;
		left: 5px;
		animation: ball3 2.6s linear infinite;
		-o-animation: ball3 2.6s linear infinite;
		-ms-animation: ball3 2.6s linear infinite;
		-webkit-animation: ball3 2.6s linear infinite;
		-moz-animation: ball3 2.6s linear infinite;
}

#cssload-contain2{
		height: 85px;
		left: 95px;
		position: relative;
		top: -85px;
		width: 85px;
		animation: ballPath4 2.6s linear infinite;
		-o-animation: ballPath4 2.6s linear infinite;
		-ms-animation: ballPath4 2.6s linear infinite;
		-webkit-animation: ballPath4 2.6s linear infinite;
		-moz-animation: ballPath4 2.6s linear infinite;
}










@keyframes ballPath1
{
		0%	 	 {transform: rotate(225deg);}
		37.5%	 	 {transform: rotate(495deg);}
	50%	 	 {transform: rotate(495deg);}
	75%	 	 {transform: rotate(585deg);}
		100%	 {transform: rotate(585deg);}
}

@-o-keyframes ballPath1
{
		0%	 	 {-o-transform: rotate(225deg);}
		37.5%	 	 {-o-transform: rotate(495deg);}
	50%	 	 {-o-transform: rotate(495deg);}
	75%	 	 {-o-transform: rotate(585deg);}
		100%	 {-o-transform: rotate(585deg);}
}

@-ms-keyframes ballPath1
{
		0%	 	 {-ms-transform: rotate(225deg);}
		37.5%	 	 {-ms-transform: rotate(495deg);}
	50%	 	 {-ms-transform: rotate(495deg);}
	75%	 	 {-ms-transform: rotate(585deg);}
		100%	 {-ms-transform: rotate(585deg);}
}

@-webkit-keyframes ballPath1
{
		0%	 	 {-webkit-transform: rotate(225deg);}
		37.5%	 	 {-webkit-transform: rotate(495deg);}
	50%	 	 {-webkit-transform: rotate(495deg);}
	75%	 	 {-webkit-transform: rotate(585deg);}
		100%	 {-webkit-transform: rotate(585deg);}
}

@-moz-keyframes ballPath1
{
		0%	 	 {-moz-transform: rotate(225deg);}
		37.5%	 	 {-moz-transform: rotate(495deg);}
	50%	 	 {-moz-transform: rotate(495deg);}
	75%	 	 {-moz-transform: rotate(585deg);}
		100%	 {-moz-transform: rotate(585deg);}
}

@keyframes ballPath2
{
		0%	 	 {transform: translate(0px, 0px);}
		37.5%	 	 {transform: translate(0px, 0px);}
	50%	 	 {transform: translate(47.5px, 47.5px);opacity:1;}
	50.001%	 {opacity:0;}
	75%	 	 {transform: translate(0px, 0px); opacity:0;}
		99.999%	 {opacity:0;}
	100%	 {opacity:1;}
}

@-o-keyframes ballPath2
{
		0%	 	 {-o-transform: translate(0px, 0px);}
		37.5%	 	 {-o-transform: translate(0px, 0px);}
	50%	 	 {-o-transform: translate(47.5px, 47.5px);opacity:1;}
	50.001%	 {opacity:0;}
	75%	 	 {-o-transform: translate(0px, 0px); opacity:0;}
		99.999%	 {opacity:0;}
	100%	 {opacity:1;}
}

@-ms-keyframes ballPath2
{
		0%	 	 {-ms-transform: translate(0px, 0px);}
		37.5%	 	 {-ms-transform: translate(0px, 0px);}
	50%	 	 {-ms-transform: translate(47.5px, 47.5px);opacity:1;}
	50.001%	 {opacity:0;}
	75%	 	 {-ms-transform: translate(0px, 0px); opacity:0;}
		99.999%	 {opacity:0;}
	100%	 {opacity:1;}
}

@-webkit-keyframes ballPath2
{
		0%	 	 {-webkit-transform: translate(0px, 0px);}
		37.5%	 	 {-webkit-transform: translate(0px, 0px);}
	50%	 	 {-webkit-transform: translate(47.5px, 47.5px);opacity:1;}
	50.001%	 {opacity:0;}
	75%	 	 {-webkit-transform: translate(0px, 0px); opacity:0;}
		99.999%	 {opacity:0;}
	100%	 {opacity:1;}
}

@-moz-keyframes ballPath2
{
		0%	 	 {-moz-transform: translate(0px, 0px);}
		37.5%	 	 {-moz-transform: translate(0px, 0px);}
	50%	 	 {-moz-transform: translate(47.5px, 47.5px);opacity:1;}
	50.001%	 {opacity:0;}
	75%	 	 {-moz-transform: translate(0px, 0px); opacity:0;}
		99.999%	 {opacity:0;}
	100%	 {opacity:1;}
}

@keyframes ballPath3
{
		0%	 	 {transform: rotate(675deg); opacity:0;}
		37.5%	 	 {transform: rotate(675deg);}
	50%	 	 {transform: rotate(675deg);opacity:0;}
	50.001%	 {transform: rotate(675deg);opacity:1;}
	87.5%	 	 {transform: rotate(405deg);}
		100%	 {transform: rotate(405deg);}
}

@-o-keyframes ballPath3
{
		0%	 	 {-o-transform: rotate(675deg); opacity:0;}
		37.5%	 	 {-o-transform: rotate(675deg);}
	50%	 	 {-o-transform: rotate(675deg);opacity:0;}
	50.001%	 {-o-transform: rotate(675deg);opacity:1;}
	87.5%	 	 {-o-transform: rotate(405deg);}
		100%	 {-o-transform: rotate(405deg);}
}

@-ms-keyframes ballPath3
{
		0%	 	 {-ms-transform: rotate(675deg); opacity:0;}
		37.5%	 	 {-ms-transform: rotate(675deg);}
	50%	 	 {-ms-transform: rotate(675deg);opacity:0;}
	50.001%	 {-ms-transform: rotate(675deg);opacity:1;}
	87.5%	 	 {-ms-transform: rotate(405deg);}
		100%	 {-ms-transform: rotate(405deg);}
}

@-webkit-keyframes ballPath3
{
		0%	 	 {-webkit-transform: rotate(675deg); opacity:0;}
		37.5%	 	 {-webkit-transform: rotate(675deg);}
	50%	 	 {-webkit-transform: rotate(675deg);opacity:0;}
	50.001%	 {-webkit-transform: rotate(675deg);opacity:1;}
	87.5%	 	 {-webkit-transform: rotate(405deg);}
		100%	 {-webkit-transform: rotate(405deg);}
}

@-moz-keyframes ballPath3
{
		0%	 	 {-moz-transform: rotate(675deg); opacity:0;}
		37.5%	 	 {-moz-transform: rotate(675deg);}
	50%	 	 {-moz-transform: rotate(675deg);opacity:0;}
	50.001%	 {-moz-transform: rotate(675deg);opacity:1;}
	87.5%	 	 {-moz-transform: rotate(405deg);}
		100%	 {-moz-transform: rotate(405deg);}
}

@keyframes ballPath4
{
		0%	 	 {transform: translate(0px, 0px);}
	87.5%	 	 {transform: translate(0px, 0px);}
		100%	 {transform: translate(-47.5px, 47.5px);}
}

@-o-keyframes ballPath4
{
		0%	 	 {-o-transform: translate(0px, 0px);}
	87.5%	 	 {-o-transform: translate(0px, 0px);}
		100%	 {-o-transform: translate(-47.5px, 47.5px);}
}

@-ms-keyframes ballPath4
{
		0%	 	 {-ms-transform: translate(0px, 0px);}
	87.5%	 	 {-ms-transform: translate(0px, 0px);}
		100%	 {-ms-transform: translate(-47.5px, 47.5px);}
}

@-webkit-keyframes ballPath4
{
		0%	 	 {-webkit-transform: translate(0px, 0px);}
	87.5%	 	 {-webkit-transform: translate(0px, 0px);}
		100%	 {-webkit-transform: translate(-47.5px, 47.5px);}
}

@-moz-keyframes ballPath4
{
		0%	 	 {-moz-transform: translate(0px, 0px);}
	87.5%	 	 {-moz-transform: translate(0px, 0px);}
		100%	 {-moz-transform: translate(-47.5px, 47.5px);}
}