.spreadsheet-container {
 	min-height: 100vh;
 }
    	
.spreadsheet {
    min-height: 100% !important;
 }
    	
 .spread-tabs {
  	min-height: 5vh;
 }
    	
 .fullscreen {
    height: 100% !important;
    width: 100% !important;
 }